/* 
  ================
  COMPONENT STYLES
  ================
*/

/* MainDisplay */

#main-content {
  width: 1000px;
  padding: 20px 30px;
  margin: auto;
}

#main-partners-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 25px;
}

h1.title {
  text-align: center;
  font-size: 24pt;

  padding-bottom: 25px;
}

/* PartnerTile */

.partner-tile {
  width: 450px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #3d3d3d;
  border-radius: 12px;

  padding: 25px;
}

.partner-thumbnail {
  max-width: 330px;
  max-height: 150px;
}

.partner-info {
  font-size: 0.9em;
}