@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*
  PAGE STYLES
*/
/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
  */

:root {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;

  color: #353535;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  margin: 18px 36px;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2 {
  margin: 0px;
  text-transform: uppercase;
}